
Sims3Purger/Debug/vcpkg.applocal.log
Sims3Purger/Debug/vc143.pdb
Sims3Purger/Debug/vc143.idb
Sims3Purger/Debug/Sims3Purger.tlog/Sims3Purger.lastbuildstate
Sims3Purger/Debug/Sims3Purger.tlog/link.write.1.tlog
Sims3Purger/Debug/Sims3Purger.tlog/link.read.1.tlog
Sims3Purger/Debug/Sims3Purger.tlog/link.command.1.tlog
Sims3Purger/Debug/Sims3Purger.tlog/CL.write.1.tlog
Sims3Purger/Debug/Sims3Purger.tlog/CL.read.1.tlog
Sims3Purger/Debug/Sims3Purger.tlog/Cl.items.tlog
Sims3Purger/Debug/Sims3Purger.tlog/CL.command.1.tlog
Sims3Purger/Debug/Sims3Purger.pch
Sims3Purger/Debug/Sims3Purger.log
Sims3Purger/Debug/Sims3Purger.ilk
Sims3Purger/Debug/Sims3Purger.dll.recipe
Sims3Purger/Debug/pch.obj
Sims3Purger/Debug/MemoryFreer.tlog/MemoryFreer.lastbuildstate
Sims3Purger/Debug/MemoryFreer.tlog/link.write.1.tlog
Sims3Purger/Debug/MemoryFreer.tlog/link.read.1.tlog
Sims3Purger/Debug/MemoryFreer.tlog/link.command.1.tlog
Sims3Purger/Debug/MemoryFreer.tlog/CL.write.1.tlog
Sims3Purger/Debug/MemoryFreer.tlog/CL.read.1.tlog
Sims3Purger/Debug/MemoryFreer.tlog/Cl.items.tlog
Sims3Purger/Debug/MemoryFreer.tlog/CL.command.1.tlog
Sims3Purger/Debug/MemoryFreer.pch
Sims3Purger/Debug/MemoryFreer.ilk
Sims3Purger/Debug/MemoryFreer.dll.recipe
Sims3Purger/Debug/dllmain.obj
enc_temp_folder/9f8a11d7655f5b3c61add85c766e5c61/dllmain.cpp
Debug/MemoryFreer.pdb
Debug/MemoryFreer.dll
Debug/MemoryFreer.asi
.vs/Sims3Purger/FileContentIndex/5f959234-b3e9-4f00-bfe5-671870ac0f8b.vsidx
.vs/MemoryFreer/v17/ipch/AutoPCH/93cbc4559941c659/DLLMAIN.ipch
.vs/MemoryFreer/v17/Browse.VC.opendb
.vs/MemoryFreer/v17/Browse.VC.db-wal
.vs/MemoryFreer/v17/Browse.VC.db-shm
.vs/MemoryFreer/v17/Browse.VC.db
.vs/MemoryFreer/v17/.suo
.vs/MemoryFreer/FileContentIndex/d48a171a-b39d-40fd-97d7-71d0d563c8ac.vsidx
/Sims3Purger/x64/Debug
/.vs/MemoryFreer/FileContentIndex
